


 <div class="container-fluid">
  <div class="row justy top-line">
    <div class="col-md-12 d-flex flex-row justify-content-center hidden-md-down">
      <p>stay home |</p>
      <p>25% off |</p>
      <p>envios gratis desde $1000</p>
    </div>
  </div>
  
  
  
  <div class="row d-flex justify-content-between">
    <div class="col-md-2 justify-content-start">
      <p class="logo pt-2">FormelARG</p>
    </div>
    
    
   
    
    <nav class="navbar navbar-expand-lg navbar-light" id="nav">
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle f-size" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Top
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="#">camisas</a>
              <a class="dropdown-item " href="#">pantalones</a>
              <a class="dropdown-item " href="#">sweters</a>
              <a class="dropdown-item " href="#">camperas</a>
  
              <!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </li> 
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle f-size" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bottom
            </a>
            <div class="dropdown-menu " aria-labelledby="navbarDropdown">
              <a class="dropdown-item " href="#">camisas</a>
              <a class="dropdown-item " href="#">pantalones</a>
              <a class="dropdown-item "  href="#">sweters</a>
              <a class="dropdown-item " href="#">camperas</a>
  
              <!-- <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div> -->
          </li> 
          
          <li class="nav-item f-size">
            <a class="nav-link" href="#">Accesorios</a>
          </li>
  
          <li class="nav-item f-size">
            <a class="nav-link" href="#">Oportunidades</a>
          </li>
        </ul>
      </nav>
          
      <div class="col-md-2 nav-icons">
        <ul class="right-navbar d-flex flex-row pt-3 justify-content-between">
          <li><a href="#"> <i class="far fa-address-card mr-4 bg-color-item"></i></a></li>
          <li><a href="#"><i class="fas fa-sign-in-alt mr-4 bg-color-item"></i></a></li>
          <li><a href="#"><i class="fas fa-cart-plus bg-color-item mr-4"></i></a></li>
        </ul>
      </div>
      
    </div>
    
  </div>
  
    
    
  </div>
  
</div>
       
       