
<div class="container-fluid  ">
  <div class="row justy top-line d-none d-md-block">
    <div class="col-md-12 d-flex  justify-content-center hidden-md-down">
      <p>stay home |</p>
      <p>25% off |</p>
      <p>envios gratis desde $10000</p>
    </div>
  </div>
</div>

<div class="container-fluid sticky-top borer-bottom">
  <div class="row d-flex justify-content-between bg-nav-sticky">
    <div class="col-md-2 justify-content-start d-none d-md-block">
      <a href="/" class="logo pt-2"> FormelARG</a>
    </div>
    
    
    <nav class="navbar navbar-expand-lg navbar-light " id="nav">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle f-size " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Top
            </a>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
              
              <a href="/products" class="dropdown-item" >remeras</a>
              <a href="/products" class="dropdown-item" >remeras</a>
              <a href="/products" class="dropdown-item" >remeras</a>
              <a href="/products" class="dropdown-item" >remeras</a>
              <a href="/products" class="dropdown-item" >remeras</a>
              <a href="/products" class="dropdown-item" >remeras</a>
              <a href="/products" class="dropdown-item" >remeras</a>
              <a href="/products" class="dropdown-item" >remeras</a>
              <a href="/products" class="dropdown-item" >remeras</a>
              

              
              <!-- <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div> -->
            </li> 
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle f-size" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bottom
              </a>
              <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                <a class="dropdown-item " href="/products">camisas</a>
                <a class="dropdown-item " href="/products">pantalones</a>
                <a class="dropdown-item "  href="/products">sweters</a>
                <a class="dropdown-item " href="/products">camperas</a>
                
                <!-- <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div> -->
              </li> 
              
              <li class="nav-item f-size">
                <a class="nav-link" href="#">Accesorios</a>
              </li>
              
              <li class="nav-item f-size">
                <a class="nav-link" href="#">Oportunidades</a>
              </li>
            </ul>
          </nav>
          
          <div class="col-md-2 nav-icons mt-2 mr-2">
            <ul class="right-navbar d-flex flex-row pt-3 justify-content-between">
              
              <li><a href="#" > <i class="far fa-address-card mr-4 bg-color-item"   title="registrate" data-target="#register-modal" data-toggle="modal"></i></a></li>
              <li><a href="#"></a><i class="fas fa-sign-in-alt mr-4 bg-color-item" title="iniciar sesión" data-target="#login-modal" data-toggle="modal"></i></a></li>
              <li><a href="users/logout"><i class="fas fa-sign-out-alt mr-4 bg-color-item" title="cerrar sesion"></i></a></li>
              <li><a href="#"><i class="fas fa-cart-plus bg-color-item mr-4" title="carrito" data-target="#cart-modal" data-toggle="modal"></i></a></li>
            </ul>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- CART-MODAL -->
  <%- include('cart-modal') %>
  <!-- CART-MODAL -->
  
  
  <!-- REGISTER-MODAL -->
  <%- include('register') %>
  <!-- REGISTER-MODAL -->
  
  
  <!-- LOGIN-MODAL -->
  <%- include('login') %>
  <!-- LOGIN-MODAL -->