*{
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
}


ul{
  list-style:none;
}
a {
  text-decoration: none;
}

/* /////////////////////// header-top ///////////////////////////////// */
.top-line{
  background-color: #D3D3D3;
}
.top-line p{
  padding-top: 2px;
  margin-left: 10px;
  color: aliceblue;
}

/* ////////////////////// nav ////////////////////////// */
.bg-color-item{
  color: rgba(0,0,0,.5);
}

ul.nav li a{
margin-right: 10px;
font-size: 15px;
text-transform: uppercase;

}

.bg-light {
  background-color: white;
}



/* /////////////////// carrusel ///////////////////////// */

.carousel{
  margin-top: 15px;
}

.separator{
  height: 20px;
}

/* /////////////////////////////// photo categoty ////////////////////////// */

.photo-category a img{
  border : 3px solid  rgba(0,0,0,.8);
  box-shadow: 1px rgba(0,0,0,.8);
}
.margin-top-element{
  margin-top: 60px;
}

/* //////////// footer //////////////////// */

.main-footer {
  background-color: #ffffff;
  padding: 20px 0;
  margin-top: 80px;
}