*{
  margin : 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: koho;
}

ul{
  list-style:none;
}
a {
  text-decoration: none;
}
a:hover{
  color: rgba(0,0,0,1);
  text-decoration: none;
}
  
i:hover{
  color: rgba(0,0,0,1);
}
/* /////////////////////// header-top ///////////////////////////////// */
.top-line{
  background-color: #D3D3D3;
}
.top-line p{
  padding-top: 2px;
  margin-left: 10px;
  color: aliceblue;
}

/* ////////////////////// nav ////////////////////////// */
.bg-color-item{
  color: rgba(0,0,0,.5);
}

.f-size{
  font-size: 20px;
}
.bg-light {
  background-color: white;
}

.nav-icons i{
  font-size: 25px;
}
.logo {
font-size: 35px;
color: rgba(4,4,4,.8);
font-weight: bold;
}
.bg-nav-sticky{
  background-color:white;
  opacity: 1;
  }
  .scrollable-menu {
    height: auto;
    max-height: 200px;
  
    overflow-y: scroll;
  }

/* /////////////////// carrusel ///////////////////////// */

.carousel{
  margin-top: 15px;
}

.separator{
  height: 20px;
}

/* /////////////////////////////// photo categoty ////////////////////////// */

.height-photo{
  height: 300px;
}
.margin-top-element{
  margin-top: 60px;
}

.bx-shadow{
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
/* ////////////////////////////////// instagram ////////////////////////////////// */

.insta-info p{
  padding-top: 5px;
  color:rgba(4,4,4,.8);
}

/* /////////////////////////////// send-pay-return ////////////////////////// */
.send-pay-return{
  margin-top: 100px;

}
.send-pay-return i{
  font-size: 60px;
}
.cursor-hover a :hover{
  cursor: pointer;
}
.cursor-pointer img :hover{
  cursor: pointer;
}

/* //////////// footer //////////////////// */

.main-footer {
  padding: 20px 0;
  margin-top: 80px;
  
}

 
.footer-icon i{
  font-size: 20px;
}

.info-div{
  border-right: 1px solid rgba(4,4,4,.3);
}
.azul{
  background-color: blue;
}
.verde{
  background-color: green;
}
.amarillo{
  background-color: yellow;
}
.rojo{
  background-color: red;
}
.naranja{
  background-color: orange;
}

/* ///////////////////////////////////// modal-carrito-home /////////////////////////////////////////// */

.modal-shop-quantity{
  border : 1px solid rgba(4,4,4,.3);
}
.separator{
  border-bottom: 2px solid  rgba(0,0,0,.9);
}



   /* //////////////////////////// cards-home /////////////////////////////////// */
 

  .products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .products-title {
    font-size: 2.4em;
    font-weight: 400;
    color: var(--gray);
  }
  
  .product-box {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    transition: 300ms;
    margin: 20px 0;
  }
  
  .product-box a {
    display: block;
    text-decoration: none;
    color: rgba(0,0,0,.5);
  }
  
  .product-box_image {
    border-bottom: 1px solid var(--light-gray);
  }
  
      
      
  .product-box_data {
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .product-box_data h2 {
    font-size: 1.4em;
    font-weight: 300;
    margin: 0;
  }
  
  .product-box_data span {
    font-size: 1em;
    font-weight: 300;
    color: gray;
    margin: 0 0 0 10px;
  }
  
  .product-box_data p {
    font-size: 1.5em;
    width: 100%;
    color: var(--gray);
    margin: 0;
    height: 0;
    transition: 300ms;
    overflow: hidden;
  }
  
  .product-box_data i {
    color: gray;
    font-size: 23px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
  }
  
  .product-box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  }
  
  .product-box:hover p{
    height: 40px;
    margin-top: 15px;
  }
  
  .product-box:hover i{
    transform: rotate(360deg);
    box-shadow: 0 0 15px black;
  }
  