<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body >
    <%- include('partials/headerNavbar') %>
  <h1>TU COMPRA FUE EXITOSA </h1>
  

    
    

    <!-- scripts -->    
    <script src="scripts/jquery-3.5.1.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
</body>
</html>