<!DOCTYPE html>
<html lang="en">
<!-- ////////////////////////////  head /////////////////////////// -->
<%- include('partials/head') %>
<!-- ////////////////////////////  head /////////////////////////// -->

<body>
    <!-- ////////////////////////// header Nav /////////////////////// -->
    <%- include('partials/headerNavbar') %>
    <!-- ////////////////////////// header Nav /////////////////////// -->
    
    
    <div class="container">
        <div class="row">
            <h2 class="mt-4">Términos & Condiciones ...</h2>           
            
            <p>
                Terminos y condiciones de uso del sitio key biscayne.net términos y condiciones generales (en adelante, los “términos y condiciones”) que se describen a continuación. Estos se aplicarán para la navegación del sitio de internet key biscayne.net (en adelante “el website” cuando se refiera al sitio web de internet) y los servicios ofrecidos en él. La responsabilidad del mencionado “website” y de los productos ofrecidos son de key biscayne. Los derechos de uso del website key biscayne
            </p>

            <h2 class="mt3">1- Aceptación y conocimiento de los términos y condiciones</h2>
            
            <p class="mt3"> 
                
              Los presentes términos y condiciones tienen carácter obligatorio y vinculante, se aplican a todas las compras y actividades realizadas mediante el website. El uso del website implica el conocimiento y la aceptación de ellos. Si usted no está de acuerdo con los términos y condiciones deberá abstenerse de utilizar el website y/o los servicios por él ofrecidos. Por “usuario” del website se entiende tanto a los registrados como a los visitantes.
            </p>
            
            <h2 class="mt3">2- Modificación de los términos y condiciones</h2>
            
            <p class="mt3"> 
                
                Los términos y condiciones podrán ser sustituidos o sufrir modificaciones en cualquier momento ya exclusivo criterio de key biscayne (en adelante “la empresa”), y no se requerirá a los usuarios su consentimiento. Para las transacciones en curso que hayan comenzado con anterioridad a dichas modificaciones, substituirán las condiciones vigentes al momento de su concertación, a menos que las nuevas modificaciones introducidas fueran más convenientes para el usuario. La empresa podrá un aviso en el website alertando a los usuarios sobre estos cambios, durante un tiempo razonable. sin perjuicio de lo anterior, los usuarios son responsables de leer estos términos y condiciones cada vez que ingresen al website para ver si han sufrido modificaciones.
            </p>

            <h2 class="mt3">3- Interrupción del servicio - exclusión de responsabilidad</h2>
            
            <p class="mt3"> 
                
                La empresa se reserva el derecho de interrumpir, suspender o modificar en cualquier momento los servicios ofrecidos en el presente website, ya sea en forma permanente o transitoria. No se requerirá la conformidad de los usuarios, ni será necesario aviso previo alguno. asimismo, no garantizo el acceso o uso permanente del website, ya que este podría interrumpirse por cuestiones técnicas ajenas a la empresa. No obstante lo mencionado anteriormente, si la suspensión o interrupción mencionada no obedeciere a razones de fuerza mayor o caso fortuito, la empresa se compromete a cumplir las prestaciones que estuvieran pendientes al momento de la suspensión o interrupción. La empresa no garantiza que el website se encuentra libre de virus, gusanos o cualquier otro elemento que pudiera llegar a dañar o alterar el normal funcionamiento de un ordenador. es responsabilidad y obligación exclusiva del usuario contar con las herramientas adecuadas para detectar, desinfectar y/o prevenir cualquier tipo de elementos y/o posibles daños de esta naturaleza. La empresa no se responsabiliza por cualquier daño que pueda producirse en los equipos informáticos de los usuarios o de terceros como consecuencia de la navegación del presente website.


            </p>
            
        </div>
    </div>
    
    
    
    
    <!-- ///////////////// envios ////////////////////// solo falta cargar fotos --> 
    <%- include('partials/pay-send-return') %>
    <!-- ///////////////// envios ////////////////////// solo falta cargar fotos --> 
    
    
    <!-- //////// footer ////////////////// -->
    <%- include('partials/footer') %>
    <!-- //////// footer ////////////////// -->
    
    
    <!-- scripts -->    
    <script src="/scripts/jquery-3.5.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</body>

</html>