<!DOCTYPE html>
<html lang="en">
<!-- ////////////////////////////  head /////////////////////////// -->

<!-- ////////////////////////////  head /////////////////////////// -->
<%- include('partials/head') %>
<body>
    <!-- ////////////////////////// header Nav /////////////////////// -->
    <%- include('partials/headerNavbar') %>
    <!-- ////////////////////////// header Nav /////////////////////// -->
    <div class="container margin-top-element">
        
        <div class="row">
            
            <div class="col-md-4 price-size border-right">
                <p>Gracias por realizar tu compra!!</p>
            </div>
            
            <div class="col-md-5 mleft pl-4 ">
                <p><strong class="price-size">Proximamente ... Mercado pago</strong></p>
            </div>

            <div class="col-md-6 justify-content-around flex-row">
                <a href="/users/logout" class="btn btn-secondary button">Cerrar sesión</a>
                <a href="/" class="btn btn-secondary button">Volver a home</a>
            </div>

        </div>
    </div>
    
    <script src="/scripts/jquery-3.5.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</body>

</html>