<!DOCTYPE html>
<html lang="en">
<!-- ////////////////////////////  head /////////////////////////// -->
<%- include('partials/head') %>
<!-- ////////////////////////////  head /////////////////////////// -->

<body>
    <!-- ////////////////////////// header Nav /////////////////////// -->
    <%- include('partials/headerNavbar') %>
    <!-- ////////////////////////// header Nav /////////////////////// -->
    <div class="container">
        <div class="row">
            <h2 class="mt-4">Preguntas frecuentes</h2>
           

        </div>
    </div>
    
    <div class="container">
       
        <div class="row">
        
            
           
          
            <p>
                ¿Como comprar? <br>
                1. Seleccioná el producto que desees y agregalo a tu Bolsa haciendo click en “Agregar al carrito”.
            </p>
            
            
            
            <p class="mt3"> 
                
                2. En el checkout podrás ver el detalle de los productos seleccionados y precios de los mismos. Para concretar tu pedido debes hacer click en “Finalizar compra”.
            </p>
            
            
            
            <p class="mt3"> 
                
                3. Ingresa tu mail y toca el botón “Continuar”.
            </p>
            
            <p class="mt3"> 
                
                4. Completa tus datos personales, dirección de envío, selecciona el método de pago y método de envío y hace click en “Continuar” para ingresar los datos del pago.
            </p>
            
            <p class="mt3"> 
                
                5. Completa con los datos de tu tarjeta de crédito o débito y confirma la compra.
            </p>
            
            <p class="mt3"> 
                
                6. Si tu pedido fue confirmado, verás un mensaje de compra exitosa
            </p>
            
            <p class="mt3"> 
                
                7. En cuanto el pedido sea procesado y el pago sea aprobado recibirás un mail de confirmación.
            </p>
            
            <p class="mt3"> 
                
                8. Una vez el producto sea despachado, recibirás otro mail. El mismo, indicará tu número de guía para hacer el seguimiento online del pedido.
            </p>
            
            <p class="mt3"> 
                
                Formas de pago: Las forma de pago es con tarjeta de crédito o débito, por lo que te recomendamos que al comenzar el proceso de pago tengas a mano la tarjeta de crédito o débito con las cual realizaras el pago.
            </p>
            
            
            <p class="mt3"> 
                
                La empresa se reserva el derecho de interrumpir, suspender o modificar en cualquier momento los servicios ofrecidos en el presente website, ya sea en forma permanente o transitoria. No se requerirá la conformidad de los usuarios, ni será necesario aviso previo alguno. asimismo, no garantizo el acceso o uso permanente del website, ya que este podría interrumpirse por cuestiones técnicas ajenas a la empresa. No obstante lo mencionado anteriormente, si la suspensión o interrupción mencionada no obedeciere a razones de fuerza mayor o caso fortuito, la empresa se compromete a cumplir las prestaciones que estuvieran pendientes al momento de la suspensión o interrupción. La empresa no garantiza que el website se encuentra libre de virus, gusanos o cualquier otro elemento que pudiera llegar a dañar o alterar el normal funcionamiento de un ordenador. es responsabilidad y obligación exclusiva del usuario contar con las herramientas adecuadas para detectar, desinfectar y/o prevenir cualquier tipo de elementos y/o posibles daños de esta naturaleza. La empresa no se responsabiliza por cualquier daño que pueda producirse en los equipos informáticos de los usuarios o de terceros como consecuencia de la navegación del presente website.
            </p>
            
            <p class="mt3"> 
                
                ¿Cómo se utiliza el código promocional?
                
                Para utilizarlo, tan solo debe introducir el código promocional en el espacio específico para el código promocional en el carrito. Una vez validado, la oferta se aplicará automáticamente al pedido. En el caso de que el código promocional no funcionara, póngase en contacto con nuestro servicio al cliente a través del mail de formelarg@gmail.com.ar
            </p>
            
            <p class="mt3"> 
                
                Zonas de entrega de Formel
                
                La zona de entrega del shop online es la República Argentina. Plazos y modalidades de entrega: el shop online de Formel ofrece la modalidad de entrega según el método de envío seleccionado y la localidad del envío. Las entregas se realizan por OCASA de lunes a viernes, entre las 9:00 y las 20:00 horas, con excepción de los feriados.Contamos con 3 opciones de envio. Envío a domicilio estándar. Demora de hasta 10 días hábiles en CABA y GBA y hasta 15 días hábiles en el interior del país. A partir del momento en que el servicio de correos OCASA se hace cargo del paquete, puede conocer en todo momento su evolución gracias al n° de seguimiento del pedido, enviado por correo electrónico con la confirmación del pedido. En caso de encontrarse ausente, el servicio de correos le dejará un aviso de entrega para que vaya a buscar el paquete a la oficina de correos más próxima.
            </p>
            
            <p class="mt3"> 
                
                Consultas generales
                
                Precio de los artículos: Los precios aplicados en el shop online son idénticos a los de nuestros puntos de venta. No se aplica ningún aumento. Sin embargo, los gastos de transporte pueden correr a cargo de los clientes (salvo en el periodo de entrega gratuita). Reservar un producto: no se puede reservar ningún artículo en nuestra tienda en línea. ¿Por qué no esta el producto en shop online?: Al final de la temporada, es posible que algunos artículos no aparezcan en nuestro shop online. El servicio de mantenimiento retira los productos que no están disponibles y cuyas existencias no se renovarán hasta que termine la temporada.
            </p>
            
            <p class="mt3"> 
                
                Formas de pago
                
                El pago del pedido en el shop online se efectúa mediante tarjeta de crédito o débito. Formel posee un sistema de cobranza a través de tarjeta de crédito y débito que es 100% seguro. Los números son encriptados y no sufren ningún tipo de amenaza en nuestro banco de datos, siendo enviados directamente a la administradora de la tarjeta de crédito.
            </p>
            
            <p class="mt3"> 
                
                Talles de los productos
                
                Para conocer la correspondencia de tallas de Formel, le recomendamos consultar la guía de tallas disponible en cada una de las fichas de producto.
            </p>
            
            <p class="mt3"> 
                
                Cambios y Devoluciones
                
                Tenés 30 días para el cambio y 10 días para la devolución desde que recibís el pedido. Podrás realizar cambios en todos nuestros locales físicos presentando la factura o a través del canal online. Los cambios o devoluciones por fallas únicamente se realizan por correo. Para solicitarlo deberás contactarte con nosotros haciendo click aquí
            </p>
            
            
            
            
        </div>
    </div>
    
    
    
    
    <!-- ///////////////// envios ////////////////////// solo falta cargar fotos --> 
    <%- include('partials/pay-send-return') %>
    <!-- ///////////////// envios ////////////////////// solo falta cargar fotos --> 
    
    
    <!-- //////// footer ////////////////// -->
    <%- include('partials/footer') %>
    <!-- //////// footer ////////////////// -->
    
    
    <!-- scripts -->    
    <script src="/scripts/jquery-3.5.1.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
</body>

</html>