<!DOCTYPE html>
<html lang="en">
<!-- ////////////////////////////  head /////////////////////////// -->
<%- include('partials/head') %>
<!-- ////////////////////////////  head /////////////////////////// -->

<body>
  <!-- ////////////////////////// header Nav /////////////////////// -->
  <%- include('partials/headerNavbar') %>
  <!-- ////////////////////////// header Nav /////////////////////// -->
  
  <div class="container">
    <div class="row">
      
      <div class="col-md-6">
        <form action="/users/register" method="POST">
          
          <% if(typeof errors != 'undefined'){ %>
            <% errors.forEach(error =>{ %>
              <p style="color: red;"><%= error.msg %></p>
              <% }) %>
              <% } %>
           
                <div class="form-group">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" id="name" name="name" aria-describedby="namelHelp">
                  <!-- <small id="nameHelp" class="form-text text-muted"></small> -->
                </div>
                <div class="form-group">
                  <label for="email">Email </label>
                  <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                  <!-- <small id="emailHelp" class="form-text text-muted"> </small> -->
                </div>
                
                <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
                  <!-- <small id="passwordHelp" class="form-text text-muted"> </small> -->
                </div>

                <div class="form-group">
                  <label for="confirmPassword">Confirmar contraseña</label>
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" aria-describedby="confirmPasswordHelp">
                  <!-- <small id="confirmPasswordHelp" class="form-text text-muted"> </small> -->

                </div>
                
                <button type="submit" class="btn btn-secondary">Crear cuenta</button>
              </form>
            </div>
          </div>
        </div>
          
  <script src="scripts/jquery-3.5.1.min.js"></script>
  <script src="scripts/bootstrap.min.js"></script> 
</body>

</html>