<!DOCTYPE html>
<html lang="en">
<!-- ////////////////////////////  head /////////////////////////// -->
<%- include('partials/head') %>
<!-- ////////////////////////////  head /////////////////////////// -->

<body>
    <!-- ////////////////////////// header Nav /////////////////////// -->
    <%- include('partials/headerNavbar') %>
    <!-- ////////////////////////// header Nav /////////////////////// -->
 <div class="container-fluid">
     <div class="row">
         <div class="col-12">
             <img src="/images/nosotros.jpg" alt="" class="img-fluid">
         </div>
     </div>
 </div>
        
 <div class="container">
     <div class="row">
         <h2 class="mt-4">Acerca de nosotros ...</h2>

        
        <p>Somos una marca de indumentaria masculina que viste al hombre en todos
             los momentos de su vida, con excelencia, diseños exclusivos y realizando
              asesoramientos personalizados.
            </p>
            <h2 class="mt3">Acerca de nuestras campañas</h2>

         <p class="mt3"> 

            Generando siempre mensajes con contenidos de concientización, 
            somos una marca que ha sido galardonada con los premios más importantes de la
             publicidad a nivel mundial: Festivales de Cannes, Clio; y considerados una de las
              marcas de indumentaria más premiadas por nuestras campañas de Responsabilidad Social. 
              El caso "Manchas que Importan", para la prevención del cáncer de piel y el corto "Conexión Real", junto al ganador del Oscar Guillermo Francella y 
              su hijo Nicolás Francella, fueron dos campañas que generaron un gran impacto en la audiencia.
            </p>


     </div>
 </div>
 
        
        
        
        <!-- ///////////////// envios ////////////////////// solo falta cargar fotos --> 
        <%- include('partials/pay-send-return') %>
        <!-- ///////////////// envios ////////////////////// solo falta cargar fotos --> 
        
        
        <!-- //////// footer ////////////////// -->
        <%- include('partials/footer') %>
        <!-- //////// footer ////////////////// -->
        
        
        <!-- scripts -->    
        <script src="/scripts/jquery-3.5.1.min.js"></script>
        <script src="/scripts/bootstrap.min.js"></script>
    </body>
    
    </html>