<div class="container-fluid ">
    <div class="row top-line main-footer justify-content-center">
      
      <div class="col-md-4 col-sm-12 d-flex flex-column info-div" >
        <h3 class="bg-color-item">Sobre nosotros</h3>
        <a href="/local" class="bg-color-item hover-color">Locales</a>
        <a href="/info" class="bg-color-item hover-color">Nosotros</a>
        <a href="/conditions" class="bg-color-item hover-color">Términos y condiciones</a>
        <a href="/questions" class="bg-color-item hover-color">Preguntas frecuentes</a>
      </div>
      
      
      
      <div class="col-md-4 col-sm-12 footer-icon  flex-column ml-4">
        <h3 class="bg-color-item">Nuestras redes</h3>
        <div class="d-flex flex-column align-items-start">
          <a href="https://www.facebook.com/" class="bg-color-item"> <i class="fab fa-facebook"> facebook</i> </a>
          <a href="https://www.instagram.com/formel.arg/" class="bg-color-item"> <i class="fab fa-instagram"> Instagram</i> </a>
          <a href="https://twitter.com/explore" class="bg-color-item"> <i class="fab fa-twitter"> twitter</i></a>
          <a href="https://www.linkedin.com/" class="bg-color-item"> <i class="fab fa-linkedin">  linkedin</i></a>
        </div>
      </div>
    </div>
  </div>