
<div class="container-fluid ">
  <div class="row top-line d-none d-md-block">
    <div class="col-md-12 d-flex  justify-content-center hidden-md-down">
      <p>stay home |</p>
      <p>25% off |</p>
      <p>envios gratis desde $10000</p>
    </div>
  </div>
</div>

<div class="container-fluid sticky-top borer-bottom shadow">
  <div class="row d-flex justify-content-between bg-nav-sticky">
    <div class="col-md-1 justify-content-start d-none d-lg-block">
      <a href="/" class="logo pt-2"> <img src="/images/new_logo.png" alt="logo" class="img-fluid"></a>
      </div>
    
    
    <nav class="navbar navbar-expand-lg navbar-light " id="nav">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle f-size " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categorías
            </a>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="navbarDropdown">
              <% categorys.forEach(cat => { %>
                <a class="dropdown-item " href="/products/category/<%= cat.id %>"><%= cat.name %></a>             
              <% })%>
            </li> 
            
            <li class="nav-item f-size ">
                <a class="nav-link" href="/products/search">Buscar</a>               
            </li> 

            <li class="nav-item f-size ">
              <a class="nav-link" href="/email/form">Comunicate</a>
            </li>
            
              
              <li class="nav-item f-size ">
                <a class="nav-link" href="/products">Productos</a>
              </li>
              
              <% if(locals.user && locals.user.permissions == 2){ %>
                <li class="nav-item f-size ">
                  <a class="nav-link" href="/products/create">Carga productos</a>
                </li>  
                
                <li class="nav-item f-size ">
                  <a class="nav-link" href="/admin">info de la pagina</a>
                </li>  
                <% } %>              
                                        
            </ul>
          </nav>
          
          <div class="col-md-4 col-lg-3 nav-icons mt-2 ml-3">
            <ul class="right-navbar d-flex pt-3 justify-content-around">

              <li><a href="/users/profile" > <i class="fas fa-user mr-4 bg-color-item "   title="Mi perfil"></i></a></li>              
              <li><a href="/users/register" > <i class="far fa-address-card mr-4 bg-color-item "   title="registrate"></i></a></li>
              <li><a href="/users/login"><i class="fas fa-sign-in-alt mr-4 bg-color-item " title="iniciar sesión" ></i></a></li>
              <li><a href="/users/logout"><i class="fas fa-sign-out-alt mr-4 bg-color-item " title="cerrar sesion"></i></a></li>
              <% if(cart){ %>
                <strong>[<%=cart.totalItems%>]</strong>
                <% } %>
                <li><a href="/cart"><i class="fas fa-cart-plus bg-color-item mr-4 pr-3 " title="carrito"></i></a></li>

            </ul>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
