<div class="container-fluid send-pay-return d-none d-md-block cursor-hover">
    <div class="row justify-content-around pl-3">
        <div class="col-md-2 border-right cursor-hover">
            <label for="">Tiempos y envios</label>
            <a><img src="/images/send.png" alt="" class="img-fluid"  data-toggle="modal" data-target="#modal-send"></a>
        </div>
        
        <div class="col-md-2 border-right cursor-hover">
            <label for="">Métodos de pago</label>
            <a><img src="/images/pay-card.png" alt="" class="img-fluid " data-toggle="modal" data-target="#modal-pay"></a>
        </div>
          
        
        <div class="col-md-2 cursor-hover">
            <label for="">Cambios y devoluciones</label>
           <a> <img src="/images/return2.png" alt="" class="img-fluid" data-toggle="modal" data-target="#modal-return"></a>
        </div>
          
    </div>
</div> 


<!-- Modal send-->
<div class="modal fade " id="modal-send" tabindex="-1" role="dialog" aria-labelledby="modal-sendLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-sendLabel">Tiempos y costos de envios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>El envío a cualquier parte del país es gratis si tu compra supera los $10000. En el caso de que el monto de la compra sea menor, podés elegir cualquier producto de nuestro sitio web para complementarla y acceder a este beneficio.
                    Los envíos podrán verse afectados debido a la cuarentena obligatoria. Realizaremos envios de varios de los productos una vez que se levante la misma..
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                
            </div>
        </div>
    </div>
</div>
<!-- Modal send-->

<!-- Modal pay-->
<div class="modal fade " id="modal-pay" tabindex="-1" role="dialog" aria-labelledby="modal-payLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-payLabel">Métodos de pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Podrás abonar tus pedidos con todas las Tarjetas de Crédito y débito a través de Mercado Pago.
                    De Lunes a Miercoles 6 cuotas sin interés y de jueves a domingos 12 cuotas sin interés con todas las tarjetas bancarias de Amex, Master y VISA. .
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                
            </div>
        </div>
    </div>
</div>
<!-- Modal pay-->

<!-- modal return-->
<div class="modal fade " id="modal-return" tabindex="-1" role="dialog" aria-labelledby="modal-returnLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-returnLabel">Cambios y devoluciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Podes realizar el cambio en nuestros locales presentando la factura o a trevés del canal online. Tenés 10 días para devolverlo o 30 días para el cambio desde el momento de recepción del pedido. La web Formel solo acepta devoluciones de compras realizadas a través de la misma. Si el producto fue adquirido a través de un local físico el cambio o devolución deberá ser gestionado a través del mismo.
                    Para solicitar el cambio o devolución deberás comunicarte con nuestro centro de atención al cliente haciendo click aquí
                    El primer cambio es sin cargo!
                    Los cambios por fallas solo se realizan a través del canal online
                    
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                
            </div>
        </div>
    </div>
</div>
<!-- modal return-->