<!DOCTYPE html>
<html lang="en">
<!-- ////////////////////////////  head /////////////////////////// -->
<%- include('../partials/head') %>
<!-- ////////////////////////////  head /////////////////////////// -->

<body>
  <!-- ////////////////////////// header Nav /////////////////////// -->
  <%- include('../partials/headerNavbar') %>
  <!-- ////////////////////////// header Nav /////////////////////// -->
  <div class="col-md-3">
    <form action="/admin/add" method="POST" >     
      
      <div class="form-group">
        <label for="first_name">Nombre de categoría</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="namelHelp">
        <span id="name" class="hideSpan error">El nombre no puede estar vacio</span>
      </div>
      
      <button type="submit" class="btn btn-secondary">Crear categoría</button>
    </form>
  </div>
</div>

<script src="/scripts/jquery-3.5.1.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script> 
</body>

</html>